[Unit]
Description=Clip Server
After=network.target

[Service]
Type=forking
ExecStart=/home/wuheng/Clip/Clip -c /home/wuheng/Clip
ExecStop=/bin/kill -9 $MAINPID
LimitCORE=infinity
TimeoutStartSec=0
Restart=on-abnormal
KillMode=process

[Install]
WantedBy=multi-user.target

